################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/A23 Ex02 Simon 207380015 Eden 315571539/.vs/A23 Ex02 Simon 207380015 Eden 315571539/FileContentIndex/3f1b6cb4-faab-45f9-9a02-e2873ff55890.vsidx
*.lock
